html {
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0px;
}
  
.navigation-bar {
    background: #8f8f8f;
}

.navigation-bar div {
    display: none;
}

.navigation-bar .toggle,
.navigation-bar .brand {
    display: inline-block;
}
.navigation-bar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: #223047;
    color: white;
}

.navigation-bar .link:hover,
.navigation-bar .link:active {
    color: #223047;
    background: white;
}

.navigation-bar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: white;
}

.navigation-bar a {
    text-decoration: none;
}

.navigation-bar .toggle {
    padding: 1em;
    color: black;
}

@media (min-width: 48em) {
    .navigation-bar {
        display: flex;
    }

    
    .navigation-bar .leftside-links,
    .navigation-bar .rightside-links {
        display: flex;
        flex: 1;
    }

    .navigation-bar .link {
        width: auto;
    }

    .navigation-bar .rightside-links {
        justify-content: flex-end;
    }

    .navigation-bar .toggle {
        display: none;
    }
}

@media (min-width: 48em) {
    .navigation-bar div {
        display: flex;
    }
}

@media (max-width: 48em) {
    .navigation-bar .active .toggle {
        background: #223047;
        color: white;
    }

    .navigation-bar .brand {
        text-align: left;
    }

    .navigation-bar .active div {
        display: block;
    }
}